[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "plugins/TwitterBootstrap"]
	path = plugins/TwitterBootstrap
	url = https://github.com/slywalker/cakephp-plugin-boost_cake.git
